<h2> Hello, <%= @support.username %></h2>

<button> <a href="/issues/new">Create New Issue</a></button>

<button> <a href="/issues">Back to main page</a></button>

<button> <a href="/supports/logout">Log out</a></button>

<h2> Your Issues </h2>

<% if @issues.empty? %>
  <p>There are no issues at this time.</p>
<% else %>
    <table class="table table-bordered table-responsive table-sm table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Owner</th>
          <th>Created</th>
          <th>Completion</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @issues.order('id DESC').each do |issue| %>
          <tr>
            <td><a href="/issues/<%=issue.id%>/edit"><%= issue.id %></a></td>
            <td><%= issue.status %></td>
            <td><%= issue.owner %></td>
            <td><%= issue.created %></td>
            <td><%= issue.completion %></td>
            <td><%= issue.title %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

